{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} test {% endblock %}</title>
    <link rel="stylesheet" type = 'text/css' href= "{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" type = 'text/css' href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type = 'text/css' href="{% static 'css/all.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet"  href= "{% static 'css/style.css' %}" >

</head>
<body >

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
      
      <li class="nav-item">
        <a class="nav-link" href="/acc/logout">Log out</a>
      </li>
      {% else %}


      <li class="nav-item">
        <a class="nav-link" href="/acc/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/acc/login">Log in</a>
      </li>
      {% endif %}
    </ul>

 {% if user.is_authenticated %}
        <a class="nav-link ml-auto" href="/acc/profile">{{user.username}}</a>
{% endif %}
  </div>
</nav>
{% block main %}



<div class="container-fluid">

  <h1 class="text-center py-3"> All documents </h1>

  <div class="row text-center pb-3 ">
    <div class="col-1">Score</div>
    <div class="col-1">Username</div>
    <div class="col-2">Document title</div>
    <div class="col">Documnet description</div>
    <div class="col-3"></div>
  </div>


  {% for document in mydocuments %}
  <div class="row text-center mb-3 ">
    <div class="col-1">

        <form  action="{% url "update_points" document.id %}" href="points" method = "post">
        {% csrf_token %}
      {% if user.is_authenticated %}
        <input type="submit" name="point" value ="-1">
            {% endif %}
        {{document.view_count}}
              {% if user.is_authenticated %}
        <input type="submit" name="point" value ="1">
    {% endif %}
        
      </form>

    </div>
    <div class="col-1">{{document.user}}</div>
    <div class="col-2">{{document.title}}</div>
    <div class="col">{{document.description}}</div>
    <div class="col-2">{{document.file.name}}<br></div>
    <div class="col-1">
     <a  href="{{document.file.url}}" Download> Download</a>
    </div>
  </div>

</div>




{% endfor %}



















{% endblock main %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
