{% extends 'home/home.html' %}

{% block main %}
<div>
  {% for message in messages %}
  <h2>{{ message}}</h2>
  {% endfor %}
</div>

<form action = "{% url "register" %}" method = "post">
  {% csrf_token %}
  <input name="first_name"  type="text"  placeholder = "First Name"></br>
  <input name="last_name"  type="text"  placeholder = "Last name"></br>
  <input name="username"  type="text"  placeholder = "Username"></br>
  <input name="email"   type="email"  placeholder = "Email"></br>
  <input name="password1"   type="password"  placeholder = "Password"></br>
  <input name="password2"   type="password"  placeholder = "Confirm password"></br>
  <input type="Submit">
</form>

{% endblock main%}

